* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
	font-family: "Ubuntu", sans-serif;
	/* font-family: "Mukta", sans-serif;
	font-family: "Poppins", sans-serif;
	font-family: "Roboto", sans-serif; */
	/* background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important; */
}
html,
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	/* width: 1000px; */
	position: relative;
	background-color: #080055;
}

.header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* padding: 2vw; */
	z-index: 100;
	padding: 3vw 4vw;
}

.logo {
	width: 10vw;
}

.nav-right {
	display: flex;
	gap: 2rem;
	/* background-color: black; */
}

.nav-right h3 {
	text-decoration: none;
	color: white;
	list-style: none;
	font-size: 1.2vw;
}

.nav-right a {
	text-decoration: none;
}

/* main hero */

.main-hero-section {
	position: relative;
	color: white;
	/* transform: translateY(100px); */
	/* z-index: 0; */
}

.main-hero-svg {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	/* transform: translateY(100px); */
	/* position: absolute; */
	/* z-index: -999; */
}

.hero-txt {
	position: absolute;
	height: 5vw;
	/* transform: translateY(-70%); */
	/* bottom: 0; */
	/* color: white; */
	/* padding: 4vw; */
	padding-left: 4vw;
	font-size: 3.6vw;
	/* background-color: wheat; */
	width: 45%;
	font-weight: 500;
	top: 40%;
	bottom: 50%;
	align-self: center;
	justify-self: center;
}

.cta {
	text-align: center;
	transform: translateY(-6vw);
	/* position: absolute; */
	/* background-color: #080055; */
}

.arrow {
	margin-top: 10px;
	height: 20px;
}

.process {
	/* background-color: #741CF2; */
	background-image: linear-gradient(to bottom right, #181398, #741CF2, #741CF2, #181398);
	padding: 1vw 0;
	text-align: center;
	margin: 0 100px;
	border-radius: 5vw;
	/* border-radius: 200px; */
	transform: translateY(-4px);
	z-index: 1000; 
}

/* 741CF2 181398 */

.main-process-text {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 25px;
	color: white;
	font-weight: 600;
	border: #000 1px;
}

.main-process {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
	color: white;
	font-size: 40px;
	/* text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000; */
	
}

.main-process li {
	width: 220px;
	/* background-color: #675DE6; */
	border-radius: 50px;
	padding: 10px;
}

.process-title {
	font-weight: 700;
	font-size: 22px;
	color: #A2E1E7;
}

.process-img {
	height: 130px;
	/* padding: 50x; */
	/* background-color: aliceblue; */
}

li {
	font-size: 18px;
}

/* cardssss */

.courses {
	color: white;
}

.card-list {
	display: flex;
	padding: 3rem;
	overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
	background: #201c29;
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
		inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
	background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 350px;
	width: 400px;
	min-width: 250px;
	padding: 1.5rem;
	border-radius: 16px;
	background: #17141d;
	box-shadow: -1rem 0 3rem #000;

	transition: 0.2s;
}

.card:hover {
	transform: translateY(-1rem);
}

.card:hover ~ .card {
	transform: translateX(130px);
}

.card:not(:first-child) {
	margin-left: -130px;
}

.card-author {
	position: relative;
	display: grid;
	grid-template-columns: 75px 1fr;
	align-items: center;
	margin: 3rem 0 0;
}

.author-avatar img {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	filter: grayscale(100%);
	margin: 16px 10px;
}

.half-circle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 48px;
	fill: none;
	stroke: #ff8a00;
	stroke-width: 8;
	stroke-linecap: round;
}

.card-header {
	margin-bottom: auto;
}

.card-header p {
	font-size: 14px;
	margin: 0 0 1rem;
	color: #7a7a8c;
}

.card-header h2 {
	font-size: 20px;
	margin: 0.25rem 0 auto;
	cursor: pointer;
}

.card-header h2:hover {
	background: linear-gradient(90deg, #ff8a00, #e52e71);
	text-shadow: none;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.tags {
	margin: 1rem 0 2rem;
	padding: 0.5rem 0 1rem;
	line-height: 2;
	margin-bottom: 0;
}

.tags a {
	font-style: normal;
	font-weight: 700;
	font-size: 0.5rem;
	color: #7a7a8c;
	text-transform: uppercase;
	font-size: 0.66rem;
	border: 3px solid #28242f;
	border-radius: 2rem;
	padding: 0.2rem 0.85rem 0.25rem;
	position: relative;
}

/* .tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
} */

.henlo {
	height: 1000px;
}

.main-footer-section {
	color: white;
}

.footer-txt {
	display: flex;
	position: absolute;
	height: 5vw;
	transform: translateY(70%);
	/* bottom: 0; */
	/* color: white; */
	/* padding: 4vw; */
	padding-left: 4vw;
	font-size: 3.6vw;
	/* background-color: wheat; */
	width: 45%;
	/* font-weight: 600; */
	/* top: 40%; */
	/* bottom: -10%; */
	align-self: center;
	justify-self: center;
}

.footer-txt ul li {
	list-style: none;
	text-decoration: none;
}

.footer-svg {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

@media (orientation: portrait) {
	svg {
	}
}
