* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	min-height: 80vh;
}

.main-hero {
	width: 100%;
	max-width: 100%;
	min-width: 300px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 4vw 5vw;
	position: relative;
	background-color: #eef1f3;
	/* background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg); */
	background-position: bottom 250px left -200px, top 250px right -200px;
	background-repeat: no-repeat;
}

.main-hero-container {
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
}

.main-hero-text {
	width: 49%;
	font-size: 2.2rem;
	letter-spacing: -2px;
	margin-right: 1%;
	/* margin-bottom: 100px; */
}

.main-hero-img {
	width: 50%;
	margin-top: 10px;
}

.hero-title {
	font-size: 4rem;
	font-weight: 900;
	color: #3d6cb9;
}

.process {
	background-color: #eef1f3;
	padding: 6vw 0;
}

.main-process-text {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 50px;
}

.main-process {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
}

.main-process li {
	width: 220px;
}



.featured-courses {
	background-color: #eef1f3;
}

.logo {
	height: 55px;
	margin-left: 3.7vw;
}



.ml-auto {
	margin-right: 3.7vw;
}


.fc-img {
	width: 100%
	
}

.featc {
	display: flex;
	flex-wrap: wrap;
}


h4 {
	font-weight: 500;
	color: black;
}

h4:hover {
	color: #00d1ff;
}

.process-title {
font-weight: 900;
font-size: 22px;
color: #3d6cb9;
}

.process-img {
	height: 130px;

}

li {
	font-size: 18px;
}

.fc-name {
	font-weight: 500;
	font-size: 21px;
	color: #3d6cb9;
	padding: 25px;
}


.fc-top {
	/* display: flex; */
	
	
}

.fc p {
	font-size: 20px;
	padding: 0px 20px;
}

.fc-img {
	border-radius: 30px;
}

.profile-pic {
	height: 40px;
	width: 40px;
	object-fit: cover;
}

@media screen and (max-width: 900px) {
	.main-hero-text {
		font-size: 1.6rem;
	}
	
	.hero-title {
		font-size: 2.5rem;
	}

}

@media screen and (max-width: 768px) {
	.logo {
		height: 55px;
		margin-left: 0vw;
	}
	.main-hero-text {
		font-size: 1.2rem;
		letter-spacing: -1px;
	}
	
	.hero-title {
		font-size: 2rem;
	}

	.main-process li {
		width: 250px;
	}
}

@media screen and (max-width: 480px) {
	.main-hero {
		width: 100%;
		max-width: 100%;
		min-width: 300px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		padding: 4vw 5vw;
		position: relative;
		background-color: #eef1f3;
		/* background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg); */
		background-position: bottom 250px left -200px, top 250px right -200px;
		background-repeat: no-repeat;
	}
	
	.main-hero-container {
		width: 100%;
		align-items: center;
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		margin-top: 55px;
		margin-bottom: 55px;
	}
	
	.main-hero-text {
		width: 100%;
		font-size: 1.5rem;
		letter-spacing: -1px;
		margin-right: 1%;
		
		/* margin-bottom: 100px; */
	}
	
	.main-hero-img {
		width: 80%;
		margin-top: 10px;

	}
	
	.hero-title {
		font-size: 2.5rem;
		font-weight: 900;
		color: #3d6cb9;
	}
}
