* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Mukta", sans-serif;
	font-family: "Poppins", sans-serif;
	font-family: "Roboto", sans-serif;
}

/* body {
	margin: 0;
	padding: 0;
} */

/* header */

.header {
	background-image: url(header2.svg);
	height: 6.6vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 3vw;
	padding: 0px 35px 0px 35px;
}

.nav-link {
	text-decoration: none;
	font-size: 1vw;
}

.nav-link :hover {
	color: #00d1ff;
}

.main-hero {
	height: 87vh;
	background-image: url(cloudsup.svg), linear-gradient(black, #0d629b);
	background-position: bottom, center;
	background-repeat: no-repeat;
	background-size: contain;
}

.sponsers {
	height: 10vh;
	background-color: white;
}

.sunrise {
	height: 170vh;
	/* background-color: grey; */
	background-image: url(cloudsdown.svg),
		linear-gradient(#0d629b, #4fa0a2, #f8a3a4, #fbe57f, #fbe57f);
	/* background-image: url(cloudsdown.svg), linear-gradient(black, #0D629B); */
	background-position: top, bottom;
	background-repeat: no-repeat;
	background-size: contain;
	display: grid;
	grid-template-rows: 30% 70%;
}

.categories {
}

.tree {
	background-image: url(tree.svg);
	background-position: bottom right;
	background-size: contain;
	background-repeat: no-repeat;
}







.process {
	background-color: white;
	padding: 6vw 0;
}

.main-process-text {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 50px;
}

.main-process {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
}

.main-process li {
	width: 220px;
}

.featured-courses {
	background-color: #eef1f3;
}

.ml-auto {
	margin-right: 3.7vw;
}

.fc-img {
	width: 100%;
}

.featc {
	display: flex;
	flex-wrap: wrap;
}

h4 {
	font-weight: 500;
	color: black;
}

h4:hover {
	color: #00d1ff;
}

.process-title {
	font-weight: 900;
	font-size: 22px;
	color: #3d6cb9;
}

.process-img {
	height: 130px;
}

li {
	font-size: 18px;
}

.fc-name {
	font-weight: 500;
	font-size: 21px;
	color: #3d6cb9;
	padding: 25px;
}

.fc p {
	font-size: 20px;
	padding: 0px 20px;
}

.fc-img {
	/* border-radius: 30px; */
	/* height: 270px;
	object-fit: cover; */
}

.profile-pic {
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 10px;
}

.fc-bottom {
	padding: 20px;
	display: grid;
	/* align-items: center;
	justify-content: space-around; */
	grid-template-columns: 50% 50%;
	text-align: center;
}

.profile {
	width: 80%;
	display: flex;
	align-items: center;
	/* border: #00d1ff solid; */
	align-items: center;
	justify-content: space-around;
	/* margin-left: 20px; */
}

.profile img {
	margin-right: 5%;
}

.fc-button {
	/* border-radius: 30px; */
	height: 120px;
	background-color: #00d1ff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fc {
	/* height: 300px; */
}

.fc-price {
	align-self: center;
	justify-self: center;
	text-align: center;
}

@media screen and (max-width: 900px) {
	.header {
		/* background-image: url(moon-tablet.svg);
		background-size: contain;
		height: 12.6vw; */
	}

	.logo {
		height: 4vw;
		padding: 0px 30px 0px 30px;
	}
	
	.nav-link {
		text-decoration: none;
		font-size: 1.5vw;
	}
}

@media screen and (max-width: 768px) {
	.header {
		/* background-image: url(moon-phone2.svg);
		background-size: contain;
		height: 18.5vw; */
	}

	.main-process li {
		width: 250px;
	}
}

@media screen and (max-width: 480px) {
	.header {
		background-image: url(moon-tablet.svg);
		background-size: contain;
		height: 12.6vw;
	}

	.logo {
		height: 6vw;
		padding: 0px 20px 0px 20px;
	}
	
	.nav-link {
		text-decoration: none;
		font-size: 2.5vw;
	}
}
